### Download data

In [21]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### Application table

This is the main table, broken into two files for Train (with TARGET) and Test (without TARGET).
Static data for all applications. One row represents one loan in our data sample.

In [22]:
application_train = pd.read_csv("application_train.csv")

In [23]:
application_train[["TARGET"]].value_counts()

TARGET
0         282686
1          24825
dtype: int64

In [24]:
application_train.sample()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
103791,220461,1,Cash loans,M,Y,Y,0,270000.0,755190.0,36459.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,8.0

In [25]:
application_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [26]:
application_train['SK_ID_CURR'].duplicated().any()

False

In [27]:
application_train['SK_ID_CURR'].nunique()

307511

In [28]:
application_sample = application_train.sample(10000, random_state=0)

In [29]:
application_sample.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
42962,149741,1,Cash loans,F,N,N,0,117000.0,417024.0,20191.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
227307,363290,0,Cash loans,M,N,Y,0,450000.0,640080.0,31261.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
290035,436006,0,Revolving loans,M,Y,Y,0,450000.0,900000.0,45000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
239833,377703,0,Cash loans,M,Y,N,1,360000.0,1125000.0,33025.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
76427,188624,0,Cash loans,M,Y,Y,0,675000.0,835380.0,42840.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [30]:
application_sample.reset_index(inplace=True)

In [31]:
application_sample.head()

,index,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,42962,149741,1,Cash loans,F,N,N,0,117000.0,417024.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1,227307,363290,0,Cash loans,M,N,Y,0,450000.0,640080.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2,290035,436006,0,Revolving loans,M,Y,Y,0,450000.0,900000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
3,239833,377703,0,Cash loans,M,Y,N,1,360000.0,1125000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,76427,188624,0,Cash loans,M,Y,Y,0,675000.0,835380.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [32]:
application_sample.to_csv("credit_samples/application_train.csv", index=False)

In [33]:
application_sample.shape

(10000, 123)

In [34]:
# Target variable (1 - client with payment difficulties: he/she had late payment more than X days
# on at least one of the first Y installments of the loan in our sample,
# 0 - all other cases)
application_sample[["TARGET"]].value_counts()

TARGET
0         9227
1          773
dtype: int64

In [35]:
application_sample.corr()['TARGET'].sort_values(ascending=False).head(10)

TARGET                         1.000000
DAYS_BIRTH                     0.068886
REGION_RATING_CLIENT           0.057535
REGION_RATING_CLIENT_W_CITY    0.057079
OWN_CAR_AGE                    0.052047
DAYS_ID_PUBLISH                0.049687
REG_CITY_NOT_WORK_CITY         0.049455
DEF_30_CNT_SOCIAL_CIRCLE       0.045394
FLAG_WORK_PHONE                0.044178
DAYS_REGISTRATION              0.043592
Name: TARGET, dtype: float64

In [36]:
application_sample.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 123 columns):
 #    Column                        Non-Null Count  Dtype
---   ------                        --------------  -----
 0    index                         10000 non-null  int64
 1    SK_ID_CURR                    10000 non-null  int64
 2    TARGET                        10000 non-null  int64
 3    NAME_CONTRACT_TYPE            10000 non-null  object
 4    CODE_GENDER                   10000 non-null  object
 5    FLAG_OWN_CAR                  10000 non-null  object
 6    FLAG_OWN_REALTY               10000 non-null  object
 7    CNT_CHILDREN                  10000 non-null  int64
 8    AMT_INCOME_TOTAL              10000 non-null  float64
 9    AMT_CREDIT                    10000 non-null  float64
 10   AMT_ANNUITY                   10000 non-null  float64
 11   AMT_GOODS_PRICE               9991 non-null   float64
 12   NAME_TYPE_SUITE               9958 non-null   object
 13   NAME_INCOME_TYPE              10000 non-null  object
 14   NAME_EDUCATION_TYPE           10000 non-null  object
 15   NAME_FAMILY_STATUS            10000 non-null  object
 16   NAME_HOUSING_TYPE             10000 non-null  object
 17   REGION_POPULATION_RELATIVE    10000 non-null  float64
 18   DAYS_BIRTH                    10000 non-null  int64
 19   DAYS_EMPLOYED                 10000 non-null  int64
 20   DAYS_REGISTRATION             10000 non-null  float64
 21   DAYS_ID_PUBLISH               10000 non-null  int64
 22   OWN_CAR_AGE                   3440 non-null   float64
 23   FLAG_MOBIL                    10000 non-null  int64
 24   FLAG_EMP_PHONE                10000 non-null  int64
 25   FLAG_WORK_PHONE               10000 non-null  int64
 26   FLAG_CONT_MOBILE              10000 non-null  int64
 27   FLAG_PHONE                    10000 non-null  int64
 28   FLAG_EMAIL                    10000 non-null  int64
 29   OCCUPATION_TYPE               6920 non-null   object
 30   CNT_FAM_MEMBERS               10000 non-null  float64
 31   REGION_RATING_CLIENT          10000 non-null  int64
 32   REGION_RATING_CLIENT_W_CITY   10000 non-null  int64
 33   WEEKDAY_APPR_PROCESS_START    10000 non-null  object
 34   HOUR_APPR_PROCESS_START       10000 non-null  int64
 35   REG_REGION_NOT_LIVE_REGION    10000 non-null  int64
 36   REG_REGION_NOT_WORK_REGION    10000 non-null  int64
 37   LIVE_REGION_NOT_WORK_REGION   10000 non-null  int64
 38   REG_CITY_NOT_LIVE_CITY        10000 non-null  int64
 39   REG_CITY_NOT_WORK_CITY        10000 non-null  int64
 40   LIVE_CITY_NOT_WORK_CITY       10000 non-null  int64
 41   ORGANIZATION_TYPE             10000 non-null  object
 42   EXT_SOURCE_1                  4444 non-null   float64
 43   EXT_SOURCE_2                  9979 non-null   float64
 44   EXT_SOURCE_3                  8030 non-null   float64
 45   APARTMENTS_AVG                5036 non-null   float64
 46   BASEMENTAREA_AVG              4231 non-null   float64
 47   YEARS_BEGINEXPLUATATION_AVG   5210 non-null   float64
 48   YEARS_BUILD_AVG               3403 non-null   float64
 49   COMMONAREA_AVG                3059 non-null   float64
 50   ELEVATORS_AVG                 4754 non-null   float64
 51   ENTRANCES_AVG                 5069 non-null   float64
 52   FLOORSMAX_AVG                 5116 non-null   float64
 53   FLOORSMIN_AVG                 3275 non-null   float64
 54   LANDAREA_AVG                  4127 non-null   float64
 55   LIVINGAPARTMENTS_AVG          3225 non-null   float64
 56   LIVINGAREA_AVG                5076 non-null   float64
 57   NONLIVINGAPARTMENTS_AVG       3115 non-null   float64
 58   NONLIVINGAREA_AVG             4580 non-null   float64
 59   APARTMENTS_MODE               5036 non-null   float64
 60   BASEMENTAREA_MODE             4231 non-null   float64
 61   YEARS_BEGINEXPLUATATION_MODE  5210 non-null   float64
 62   YEARS_BUILD_MODE              3403 non-null   float64
 63   COMMONAREA_MODE               3059 non-null   float64
 64   ELEVATORS_MODE                4754 non-null   float64
 65   ENTRANCES_MODE                5069 non-null   float64
 66   FLOORSMAX_MODE                5116 non-null   float64
 67   FLOORSMIN_MODE                3275 non-null   float64
 68   LANDAREA_MODE                 4127 non-null   float64
 69   LIVINGAPARTMENTS_MODE         3225 non-null   float64
 70   LIVINGAREA_MODE               5076 non-null   float64
 71   NONLIVINGAPARTMENTS_MODE      3115 non-null   float64
 72   NONLIVINGAREA_MODE            4580 non-null   float64
 73   APARTMENTS_MEDI               5036 non-null   float64
 74   BASEMENTAREA_MEDI             4231 non-null   float64
 75   YEARS_BEGINEXPLUATATION_MEDI  5210 non-null   float64
 76   YEARS_BUILD_MEDI              3403 non-null   float64
 77   COMMONAREA_MEDI               3059 non-null   float64
 78   ELEVATORS_MEDI                4754 non-null   float64
 79   ENTRANCES_MEDI                5069 non-null   float64
 80   FLOORSMAX_MEDI                5116 non-null   float64
 81   FLOORSMIN_MEDI                3275 non-null   float64
 82   LANDAREA_MEDI                 4127 non-null   float64
 83   LIVINGAPARTMENTS_MEDI         3225 non-null   float64
 84   LIVINGAREA_MEDI               5076 non-null   float64
 85   NONLIVINGAPARTMENTS_MEDI      3115 non-null   float64
 86   NONLIVINGAREA_MEDI            4580 non-null   float64
 87   FONDKAPREMONT_MODE            3229 non-null   object
 88   HOUSETYPE_MODE                5089 non-null   object
 89   TOTALAREA_MODE                5257 non-null   float64
 90   WALLSMATERIAL_MODE            5020 non-null   object
 91   EMERGENCYSTATE_MODE           5358 non-null   object
 92   OBS_30_CNT_SOCIAL_CIRCLE      9968 non-null   float64
 93   DEF_30_CNT_SOCIAL_CIRCLE      9968 non-null   float64
 94   OBS_60_CNT_SOCIAL_CIRCLE      9968 non-null   float64
 95   DEF_60_CNT_SOCIAL_CIRCLE      9968 non-null   float64
 96   DAYS_LAST_PHONE_CHANGE        10000 non-null  float64
 97   FLAG_DOCUMENT_2               10000 non-null  int64
 98   FLAG_DOCUMENT_3               10000 non-null  int64
 99   FLAG_DOCUMENT_4               10000 non-null  int64
 100  FLAG_DOCUMENT_5               10000 non-null  int64
 101  FLAG_DOCUMENT_6               10000 non-null  int64
 102  FLAG_DOCUMENT_7               10000 non-null  int64
 103  FLAG_DOCUMENT_8               10000 non-null  int64
 104  FLAG_DOCUMENT_9               10000 non-null  int64
 105  FLAG_DOCUMENT_10              10000 non-null  int64
 106  FLAG_DOCUMENT_11              10000 non-null  int64
 107  FLAG_DOCUMENT_12              10000 non-null  int64
 108  FLAG_DOCUMENT_13              10000 non-null  int64
 109  FLAG_DOCUMENT_14              10000 non-null  int64
 110  FLAG_DOCUMENT_15              10000 non-null  int64
 111  FLAG_DOCUMENT_16              10000 non-null  int64
 112  FLAG_DOCUMENT_17              10000 non-null  int64
 113  FLAG_DOCUMENT_18              10000 non-null  int64
 114  FLAG_DOCUMENT_19              10000 non-null  int64
 115  FLAG_DOCUMENT_20              10000 non-null  int64
 116  FLAG_DOCUMENT_21              10000 non-null  int64
 117  AMT_REQ_CREDIT_BUREAU_HOUR    8715 non-null   float64
 118  AMT_REQ_CREDIT_BUREAU_DAY     8715 non-null   float64
 119  AMT_REQ_CREDIT_BUREAU_WEEK    8715 non-null   float64
 120  AMT_REQ_CREDIT_BUREAU_MON     8715 non-null   float64
 121  AMT_REQ_CREDIT_BUREAU_QRT     8715 non-null   float64
 122  AMT_REQ_CREDIT_BUREAU_YEAR    8715 non-null   float64
dtypes: float64(65), int64(42), object(16)
memory usage: 9.4+ MB

In [37]:
columns =  ['OWN_CAR_AGE','OCCUPATION_TYPE','EXT_SOURCE_1','EXT_SOURCE_3','EXT_SOURCE_2','APARTMENTS_AVG','BASEMENTAREA_AVG',
         'YEARS_BEGINEXPLUATATION_AVG','COMMONAREA_AVG','YEARS_BUILD_AVG','ELEVATORS_AVG','ENTRANCES_AVG','FLOORSMAX_AVG',
         'FLOORSMIN_AVG','LANDAREA_AVG','LIVINGAPARTMENTS_AVG','LIVINGAREA_AVG','NONLIVINGAPARTMENTS_AVG','APARTMENTS_MODE',
         'BASEMENTAREA_MODE','YEARS_BEGINEXPLUATATION_MODE','YEARS_BUILD_MODE','COMMONAREA_MODE','ELEVATORS_MODE','ELEVATORS_MODE',
         'ENTRANCES_MODE','FLOORSMAX_MODE','FLOORSMIN_MODE','LANDAREA_MODE','LIVINGAPARTMENTS_MODE','NONLIVINGAREA_MODE',
         'APARTMENTS_MEDI','BASEMENTAREA_MEDI','YEARS_BEGINEXPLUATATION_MEDI','YEARS_BUILD_MEDI','COMMONAREA_MEDI','ELEVATORS_MEDI','ENTRANCES_MEDI',
         'FLOORSMAX_MEDI','FLOORSMIN_MEDI','LANDAREA_MEDI','LIVINGAPARTMENTS_MEDI','NONLIVINGAPARTMENTS_MEDI','NONLIVINGAREA_MEDI','FONDKAPREMONT_MODE',
         'HOUSETYPE_MODE','TOTALAREA_MODE','WALLSMATERIAL_MODE','EMERGENCYSTATE_MODE','AMT_REQ_CREDIT_BUREAU_HOUR','AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_WEEK',
         'AMT_REQ_CREDIT_BUREAU_MON','AMT_REQ_CREDIT_BUREAU_QRT','AMT_REQ_CREDIT_BUREAU_YEAR','NONLIVINGAREA_AVG','LIVINGAREA_MODE','LIVINGAREA_MEDI','NONLIVINGAPARTMENTS_MODE']

selected_application_sample = application_sample.drop(columns=columns,axis=1)

In [38]:
selected_application_sample.head()

,index,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,42962,149741,1,Cash loans,F,N,N,0,117000.0,417024.0,...,0,0,0,0,0,0,0,0,0,0
1,227307,363290,0,Cash loans,M,N,Y,0,450000.0,640080.0,...,0,0,0,0,0,0,0,0,0,0
2,290035,436006,0,Revolving loans,M,Y,Y,0,450000.0,900000.0,...,0,0,0,0,0,0,0,0,0,0
3,239833,377703,0,Cash loans,M,Y,N,1,360000.0,1125000.0,...,0,0,0,0,0,0,0,0,0,0
4,76427,188624,0,Cash loans,M,Y,Y,0,675000.0,835380.0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
selected_application_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 65 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   index                        10000 non-null  int64
 1   SK_ID_CURR                   10000 non-null  int64
 2   TARGET                       10000 non-null  int64
 3   NAME_CONTRACT_TYPE           10000 non-null  object
 4   CODE_GENDER                  10000 non-null  object
 5   FLAG_OWN_CAR                 10000 non-null  object
 6   FLAG_OWN_REALTY              10000 non-null  object
 7   CNT_CHILDREN                 10000 non-null  int64
 8   AMT_INCOME_TOTAL             10000 non-null  float64
 9   AMT_CREDIT                   10000 non-null  float64
 10  AMT_ANNUITY                  10000 non-null  float64
 11  AMT_GOODS_PRICE              9991 non-null   float64
 12  NAME_TYPE_SUITE              9958 non-null   object
 13  NAME_INCOME_TYPE             10000 non-null  object
 14  NAME_EDUCATION_TYPE          10000 non-null  object
 15  NAME_FAMILY_STATUS           10000 non-null  object
 16  NAME_HOUSING_TYPE            10000 non-null  object
 17  REGION_POPULATION_RELATIVE   10000 non-null  float64
 18  DAYS_BIRTH                   10000 non-null  int64
 19  DAYS_EMPLOYED                10000 non-null  int64
 20  DAYS_REGISTRATION            10000 non-null  float64
 21  DAYS_ID_PUBLISH              10000 non-null  int64
 22  FLAG_MOBIL                   10000 non-null  int64
 23  FLAG_EMP_PHONE               10000 non-null  int64
 24  FLAG_WORK_PHONE              10000 non-null  int64
 25  FLAG_CONT_MOBILE             10000 non-null  int64
 26  FLAG_PHONE                   10000 non-null  int64
 27  FLAG_EMAIL                   10000 non-null  int64
 28  CNT_FAM_MEMBERS              10000 non-null  float64
 29  REGION_RATING_CLIENT         10000 non-null  int64
 30  REGION_RATING_CLIENT_W_CITY  10000 non-null  int64
 31  WEEKDAY_APPR_PROCESS_START   10000 non-null  object
 32  HOUR_APPR_PROCESS_START      10000 non-null  int64
 33  REG_REGION_NOT_LIVE_REGION   10000 non-null  int64
 34  REG_REGION_NOT_WORK_REGION   10000 non-null  int64
 35  LIVE_REGION_NOT_WORK_REGION  10000 non-null  int64
 36  REG_CITY_NOT_LIVE_CITY       10000 non-null  int64
 37  REG_CITY_NOT_WORK_CITY       10000 non-null  int64
 38  LIVE_CITY_NOT_WORK_CITY      10000 non-null  int64
 39  ORGANIZATION_TYPE            10000 non-null  object
 40  OBS_30_CNT_SOCIAL_CIRCLE     9968 non-null   float64
 41  DEF_30_CNT_SOCIAL_CIRCLE     9968 non-null   float64
 42  OBS_60_CNT_SOCIAL_CIRCLE     9968 non-null   float64
 43  DEF_60_CNT_SOCIAL_CIRCLE     9968 non-null   float64
 44  DAYS_LAST_PHONE_CHANGE       10000 non-null  float64
 45  FLAG_DOCUMENT_2              10000 non-null  int64
 46  FLAG_DOCUMENT_3              10000 non-null  int64
 47  FLAG_DOCUMENT_4              10000 non-null  int64
 48  FLAG_DOCUMENT_5              10000 non-null  int64
 49  FLAG_DOCUMENT_6              10000 non-null  int64
 50  FLAG_DOCUMENT_7              10000 non-null  int64
 51  FLAG_DOCUMENT_8              10000 non-null  int64
 52  FLAG_DOCUMENT_9              10000 non-null  int64
 53  FLAG_DOCUMENT_10             10000 non-null  int64
 54  FLAG_DOCUMENT_11             10000 non-null  int64
 55  FLAG_DOCUMENT_12             10000 non-null  int64
 56  FLAG_DOCUMENT_13             10000 non-null  int64
 57  FLAG_DOCUMENT_14             10000 non-null  int64
 58  FLAG_DOCUMENT_15             10000 non-null  int64
 59  FLAG_DOCUMENT_16             10000 non-null  int64
 60  FLAG_DOCUMENT_17             10000 non-null  int64
 61  FLAG_DOCUMENT_18             10000 non-null  int64
 62  FLAG_DOCUMENT_19             10000 non-null  int64
 63  FLAG_DOCUMENT_20             10000 non-null  int64
 64  FLAG_DOCUMENT_21             10000 non-null  int64
dtypes: float64(12), int64(42), object(11)
memory usage: 5.0+ MB

In [40]:
selected_application_sample.columns[selected_application_sample.isnull().any()]

Index(['AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE'],
      dtype='object')

In [41]:
selected_application_sample['AMT_GOODS_PRICE'].fillna(selected_application_sample['AMT_GOODS_PRICE'].median(),inplace=True)

In [42]:
selected_application_sample['NAME_TYPE_SUITE'].value_counts()

Unaccompanied      8144
Family             1249
Spouse, partner     368
Children            105
Other_B              57
Other_A              27
Group of people       8
Name: NAME_TYPE_SUITE, dtype: int64

In [43]:
selected_application_sample['NAME_TYPE_SUITE'].fillna('Unaccompanied',inplace=True)

In [44]:
selected_application_sample[['OBS_30_CNT_SOCIAL_CIRCLE']].head()

   OBS_30_CNT_SOCIAL_CIRCLE
0                       1.0
1                       0.0
2                       NaN
3                       0.0
4                       3.0

In [45]:
selected_application_sample['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(selected_application_sample['OBS_30_CNT_SOCIAL_CIRCLE'].median(),inplace=True)

In [46]:
selected_application_sample['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(selected_application_sample['DEF_30_CNT_SOCIAL_CIRCLE'].median(),inplace=True)

In [47]:
selected_application_sample['OBS_60_CNT_SOCIAL_CIRCLE'].fillna(selected_application_sample['OBS_60_CNT_SOCIAL_CIRCLE'].median(),inplace=True)

In [48]:
selected_application_sample['DEF_60_CNT_SOCIAL_CIRCLE'].fillna(selected_application_sample['DEF_60_CNT_SOCIAL_CIRCLE'].median(),inplace=True)

In [49]:
selected_application_sample.head()

,index,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,42962,149741,1,Cash loans,F,N,N,0,117000.0,417024.0,...,0,0,0,0,0,0,0,0,0,0
1,227307,363290,0,Cash loans,M,N,Y,0,450000.0,640080.0,...,0,0,0,0,0,0,0,0,0,0
2,290035,436006,0,Revolving loans,M,Y,Y,0,450000.0,900000.0,...,0,0,0,0,0,0,0,0,0,0
3,239833,377703,0,Cash loans,M,Y,N,1,360000.0,1125000.0,...,0,0,0,0,0,0,0,0,0,0
4,76427,188624,0,Cash loans,M,Y,Y,0,675000.0,835380.0,...,0,0,0,0,0,0,0,0,0,0

##### Feature engineering/extraction

In [50]:
# credit amount ratio relative to the income of a client
selected_application_sample['CREDIT_INCOME_RATIO'] = selected_application_sample['AMT_CREDIT'] / selected_application_sample['AMT_INCOME_TOTAL']
# loan annuity percentage relative to the income of a client
selected_application_sample['ANNUITY_INCOME_RATIO'] = selected_application_sample['AMT_ANNUITY'] / selected_application_sample['AMT_INCOME_TOTAL']
# the length of the payment in months 
selected_application_sample['CREDIT_TERM'] = selected_application_sample['AMT_ANNUITY'] / selected_application_sample['AMT_CREDIT']
# days employed relative to the age of the client
selected_application_sample['DAYS_EMPLOYED_RATIO'] = selected_application_sample['DAYS_EMPLOYED'] / selected_application_sample['DAYS_BIRTH']

In [51]:
# Difference betwwen the price of goods and the loan amount given
selected_application_sample['GOODS_PRICE_LOAN_DIFFERENCE'] = selected_application_sample['AMT_GOODS_PRICE'] - selected_application_sample['AMT_CREDIT']

### Bureau table

All client's previous credits provided by other financial institutions that were reported to Credit Bureau (for clients who have a loan in our sample).
For every loan in our sample, there are as many rows as number of credits the client had in Credit Bureau before the application date.

In [52]:
loan_ids = list(application_sample['SK_ID_CURR'])

In [53]:
bureau = pd.read_csv("bureau.csv")
bureau.sample()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
34226,369059,5805322,Active,currency 1,-247,0,1579.0,NaN,NaN,0,742500.0,676908.0,0.0,0.0,Consumer credit,-34,24750.0

In [54]:
bureau['AMT_ANNUITY']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
1716423   NaN
1716424   NaN
1716425   NaN
1716426   NaN
1716427   NaN
Name: AMT_ANNUITY, Length: 1716428, dtype: float64

In [55]:
bureau_sample = bureau[ bureau['SK_ID_CURR'].isin(loan_ids)]

In [56]:
bureau_sample.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
33,400486,5714504,Closed,currency 1,-2413,0,-1864.0,-2128.0,NaN,0,180000.0,0.0,0.0,0.0,Consumer credit,-708,NaN
34,400486,5714506,Active,currency 1,-941,0,-17.0,NaN,NaN,0,40500.0,0.0,0.0,0.0,Credit card,-15,NaN
35,400486,5714507,Closed,currency 1,-1110,0,-745.0,-727.0,NaN,0,114727.5,0.0,0.0,0.0,Consumer credit,-658,NaN
36,400486,5714508,Closed,currency 1,-2133,0,-1038.0,-1127.0,NaN,0,225000.0,0.0,0.0,0.0,Consumer credit,-708,NaN
37,400486,5714509,Active,currency 1,-391,0,705.0,NaN,NaN,0,142290.0,108315.0,0.0,0.0,Consumer credit,-30,NaN

In [57]:
bureau_sample.reset_index(inplace=True)

In [58]:
bureau_sample.to_csv("credit_samples/bureau.csv", index=False)

In [59]:
bureau_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46949 entries, 0 to 46948
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   46949 non-null  int64
 1   SK_ID_CURR              46949 non-null  int64
 2   SK_ID_BUREAU            46949 non-null  int64
 3   CREDIT_ACTIVE           46949 non-null  object
 4   CREDIT_CURRENCY         46949 non-null  object
 5   DAYS_CREDIT             46949 non-null  int64
 6   CREDIT_DAY_OVERDUE      46949 non-null  int64
 7   DAYS_CREDIT_ENDDATE     44035 non-null  float64
 8   DAYS_ENDDATE_FACT       29459 non-null  float64
 9   AMT_CREDIT_MAX_OVERDUE  16671 non-null  float64
 10  CNT_CREDIT_PROLONG      46949 non-null  int64
 11  AMT_CREDIT_SUM          46949 non-null  float64
 12  AMT_CREDIT_SUM_DEBT     39678 non-null  float64
 13  AMT_CREDIT_SUM_LIMIT    31116 non-null  float64
 14  AMT_CREDIT_SUM_OVERDUE  46949 non-null  float64
 15  CREDIT_TYPE             46949 non-null  object
 16  DAYS_CREDIT_UPDATE      46949 non-null  int64
 17  AMT_ANNUITY             11022 non-null  float64
dtypes: float64(8), int64(7), object(3)
memory usage: 6.4+ MB

In [60]:
columns = ['AMT_ANNUITY']
selected_bureau_sample = bureau_sample.drop(columns=columns,axis=1)

In [61]:
selected_bureau_sample.head()

,index,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE
0,33,400486,5714504,Closed,currency 1,-2413,0,-1864.0,-2128.0,NaN,0,180000.0,0.0,0.0,0.0,Consumer credit,-708
1,34,400486,5714506,Active,currency 1,-941,0,-17.0,NaN,NaN,0,40500.0,0.0,0.0,0.0,Credit card,-15
2,35,400486,5714507,Closed,currency 1,-1110,0,-745.0,-727.0,NaN,0,114727.5,0.0,0.0,0.0,Consumer credit,-658
3,36,400486,5714508,Closed,currency 1,-2133,0,-1038.0,-1127.0,NaN,0,225000.0,0.0,0.0,0.0,Consumer credit,-708
4,37,400486,5714509,Active,currency 1,-391,0,705.0,NaN,NaN,0,142290.0,108315.0,0.0,0.0,Consumer credit,-30

### Bureau balance table

Monthly balances of previous credits in Credit Bureau.
This table has one row for each month of history of every previous credit reported to Credit Bureau – i.e the table has (#loans in sample * # of relative previous credits * # of months where we have some history observable for the previous credits) rows.

In [62]:
bureaus = list(bureau_sample['SK_ID_BUREAU'])

In [63]:
bureau_balance = pd.read_csv("bureau_balance.csv")
bureau_balance.sample()

         SK_ID_BUREAU  MONTHS_BALANCE STATUS
9838477       6065994             -55      0

In [64]:
bureau_balance_sample = bureau_balance[ bureau_balance['SK_ID_BUREAU'].isin(bureaus)]

In [65]:
bureau_balance_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477067 entries, 17852 to 27288518
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SK_ID_BUREAU    477067 non-null  int64
 1   MONTHS_BALANCE  477067 non-null  int64
 2   STATUS          477067 non-null  object
dtypes: int64(2), object(1)
memory usage: 14.6+ MB

In [66]:
bureau_balance_sample.tail()

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
27288514       5033703             -25      0
27288515       5033703             -26      0
27288516       5033703             -27      0
27288517       5033703             -28      0
27288518       5033703             -29      X

In [67]:
bureau_balance_sample.reset_index(inplace=True)

In [68]:
bureau_balance_sample.to_csv("credit_samples/bureau_balance.csv", index=False)

### Previous balance mid-level table

In [69]:
previous_balance = selected_bureau_sample.merge(bureau_balance, on='SK_ID_BUREAU')

In [70]:
previous_balance.tail()

,index,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,MONTHS_BALANCE,STATUS
477062,1716291,245498,5053747,Closed,currency 1,-2582,0,-2214.0,-2018.0,0.0,0,49495.5,0.0,0.0,0.0,Consumer credit,-2017,-80,0
477063,1716291,245498,5053747,Closed,currency 1,-2582,0,-2214.0,-2018.0,0.0,0,49495.5,0.0,0.0,0.0,Consumer credit,-2017,-81,0
477064,1716291,245498,5053747,Closed,currency 1,-2582,0,-2214.0,-2018.0,0.0,0,49495.5,0.0,0.0,0.0,Consumer credit,-2017,-82,0
477065,1716291,245498,5053747,Closed,currency 1,-2582,0,-2214.0,-2018.0,0.0,0,49495.5,0.0,0.0,0.0,Consumer credit,-2017,-83,0
477066,1716291,245498,5053747,Closed,currency 1,-2582,0,-2214.0,-2018.0,0.0,0,49495.5,0.0,0.0,0.0,Consumer credit,-2017,-84,0

In [71]:
# previous_balance.info()

In [72]:
previous_balance.columns[previous_balance.isnull().any()]

Index(['DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE',
       'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT'],
      dtype='object')

In [73]:
previous_balance['DAYS_CREDIT_ENDDATE'].fillna(previous_balance['DAYS_CREDIT_ENDDATE'].median(),inplace=True)
previous_balance['DAYS_ENDDATE_FACT'].fillna(previous_balance['DAYS_ENDDATE_FACT'].median(),inplace=True)
previous_balance['AMT_CREDIT_SUM_DEBT'].fillna(previous_balance['AMT_CREDIT_SUM_DEBT'].median(),inplace=True)
previous_balance['AMT_CREDIT_MAX_OVERDUE'].fillna(previous_balance['AMT_CREDIT_MAX_OVERDUE'].median(),inplace=True)
previous_balance['AMT_CREDIT_SUM_LIMIT'].fillna(previous_balance['AMT_CREDIT_SUM_LIMIT'].median(),inplace=True)

In [74]:
previous_balance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477067 entries, 0 to 477066
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   477067 non-null  int64
 1   SK_ID_CURR              477067 non-null  int64
 2   SK_ID_BUREAU            477067 non-null  int64
 3   CREDIT_ACTIVE           477067 non-null  object
 4   CREDIT_CURRENCY         477067 non-null  object
 5   DAYS_CREDIT             477067 non-null  int64
 6   CREDIT_DAY_OVERDUE      477067 non-null  int64
 7   DAYS_CREDIT_ENDDATE     477067 non-null  float64
 8   DAYS_ENDDATE_FACT       477067 non-null  float64
 9   AMT_CREDIT_MAX_OVERDUE  477067 non-null  float64
 10  CNT_CREDIT_PROLONG      477067 non-null  int64
 11  AMT_CREDIT_SUM          477067 non-null  float64
 12  AMT_CREDIT_SUM_DEBT     477067 non-null  float64
 13  AMT_CREDIT_SUM_LIMIT    477067 non-null  float64
 14  AMT_CREDIT_SUM_OVERDUE  477067 non-null  float64
 15  CREDIT_TYPE             477067 non-null  object
 16  DAYS_CREDIT_UPDATE      477067 non-null  int64
 17  MONTHS_BALANCE          477067 non-null  int64
 18  STATUS                  477067 non-null  object
dtypes: float64(7), int64(8), object(4)
memory usage: 72.8+ MB

In [75]:
previous_balance.sample(5)

,index,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,MONTHS_BALANCE,STATUS
459703,1639151,388178,5548369,Closed,currency 1,-2588,0,-2374.0,-2375.0,0.000,0,49383.18,0.0,0.0,0.0,Consumer credit,-845,-78,0
121705,454419,151252,5035478,Closed,currency 1,-2841,0,-2720.0,-2749.0,4995.405,0,14188.59,0.0,0.0,0.0,Consumer credit,-2748,-84,C
376290,1337626,386752,6134325,Closed,currency 1,-2045,0,-1742.0,-1165.0,0.000,0,178879.50,0.0,0.0,0.0,Consumer credit,-1162,-58,0
292639,1010125,191933,5126468,Closed,currency 1,-1004,0,-637.0,-636.0,4127.940,0,45000.00,0.0,0.0,0.0,Consumer credit,-633,-32,0
41129,205600,308414,5837021,Closed,currency 1,-2676,0,-2447.0,-2447.0,0.000,0,324000.00,0.0,0.0,0.0,Consumer credit,-309,-53,C

#### Feature engineering / extraction

In [76]:
previous_balance[['AMT_CREDIT_SUM_LIMIT']].describe()

       AMT_CREDIT_SUM_LIMIT
count          4.770670e+05
mean           2.699912e+03
std            2.732400e+04
min           -2.379375e+03
25%            0.000000e+00
50%            0.000000e+00
75%            0.000000e+00
max            1.138500e+06

In [77]:
def credit_sum_limit(credit_limit):
  if credit_limit > 0:
    limit_above_zero = 1
  else:
    limit_above_zero = 0
  return limit_above_zero

In [78]:
previous_balance['CREDIT_LIMIT_ABOVE_ZERO'] = previous_balance['AMT_CREDIT_SUM_LIMIT'].apply(credit_sum_limit)

In [79]:
previous_balance['CREDIT_LIMIT_ABOVE_ZERO'].value_counts()

0    463884
1     13183
Name: CREDIT_LIMIT_ABOVE_ZERO, dtype: int64

In [80]:
previous_balance[['AMT_CREDIT_SUM_DEBT']].describe()

       AMT_CREDIT_SUM_DEBT
count         4.770670e+05
mean          7.011157e+04
std           4.158705e+05
min          -5.523840e+03
25%           0.000000e+00
50%           0.000000e+00
75%           0.000000e+00
max           1.876488e+07

In [81]:
def has_debt(debt_amount):
  if debt_amount > 0:
    has_debt = 1
  else:
    has_debt = 0
  return has_debt

In [82]:
previous_balance["HAS_DEBT"] = previous_balance['AMT_CREDIT_SUM_DEBT'].apply(has_debt)

In [83]:
previous_balance['AMT_CREDIT_SUM_OVERDUE'].describe()

count    477067.000000
mean          2.394704
std         160.722013
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       22581.000000
Name: AMT_CREDIT_SUM_OVERDUE, dtype: float64

In [84]:
def over_due_debt(debt_amount):
  if debt_amount > 0:
    debt_overdue = 1
  else:
    debt_overdue = 0
  return debt_overdue

In [85]:
previous_balance['HAS_OVERDUE_DEBT'] = previous_balance['AMT_CREDIT_SUM_OVERDUE'].apply(over_due_debt)

In [86]:
previous_balance['HAS_OVERDUE_DEBT'].value_counts()

0    476350
1       717
Name: HAS_OVERDUE_DEBT, dtype: int64

### Credit card balance table

Monthly balance snapshots of previous credit cards that the applicant has with Home Credit.
This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.

In [87]:
credit_card_balance = pd.read_csv("credit_card_balance.csv")
credit_card_balance.sample()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
3719406,1053117,314608,-42,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,3.0,Active,0,0

In [88]:
credit_card_balance_sample = credit_card_balance[ credit_card_balance['SK_ID_CURR'].isin(loan_ids)]
credit_card_balance_sample.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
57,2652291,217747,-1,199062.900,202500,0.0,0.000,0.0,0.000,10295.64,...,199062.90,199062.90,0.0,0,0.0,0.0,7.0,Active,0,0
69,1079749,140209,-3,0.000,112500,0.0,0.000,0.0,0.000,0.00,...,0.00,0.00,0.0,0,0.0,0.0,35.0,Completed,0,0
150,1130058,416736,-3,0.000,90000,NaN,0.000,NaN,NaN,0.00,...,0.00,0.00,NaN,0,NaN,NaN,0.0,Active,0,0
211,2536051,190803,-3,0.000,45000,0.0,0.000,0.0,0.000,0.00,...,0.00,0.00,0.0,0,0.0,0.0,25.0,Active,0,0
241,1950682,400093,-1,166443.255,450000,0.0,3885.615,0.0,3885.615,7502.58,...,165209.85,165209.85,0.0,1,0.0,1.0,24.0,Active,0,0

In [89]:
credit_card_balance_sample.reset_index(inplace=True)

In [90]:
credit_card_balance_sample.to_csv("credit_samples/credit_card_balance.csv", index=False)

In [91]:
# credit_card_balance_sample.info()

In [92]:
credit_card_balance_sample.columns[credit_card_balance_sample.isnull().any()]

Index(['AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'CNT_DRAWINGS_ATM_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM'],
      dtype='object')

In [93]:
credit_card_balance_sample['AMT_DRAWINGS_ATM_CURRENT'].fillna(credit_card_balance_sample['AMT_DRAWINGS_ATM_CURRENT'].median(),inplace=True)
credit_card_balance_sample['AMT_DRAWINGS_POS_CURRENT'].fillna(credit_card_balance_sample['AMT_DRAWINGS_POS_CURRENT'].median(),inplace=True)
credit_card_balance_sample['AMT_DRAWINGS_POS_CURRENT'].fillna(credit_card_balance_sample['AMT_DRAWINGS_POS_CURRENT'].median(),inplace=True)
credit_card_balance_sample['AMT_INST_MIN_REGULARITY'].fillna(credit_card_balance_sample['AMT_INST_MIN_REGULARITY'].median(),inplace=True)
credit_card_balance_sample['AMT_PAYMENT_CURRENT'].fillna(credit_card_balance_sample['AMT_PAYMENT_CURRENT'].median(),inplace=True)
credit_card_balance_sample['CNT_DRAWINGS_ATM_CURRENT'].fillna(credit_card_balance_sample['CNT_DRAWINGS_ATM_CURRENT'].median(),inplace=True)
credit_card_balance_sample['CNT_DRAWINGS_OTHER_CURRENT'].fillna(credit_card_balance_sample['CNT_DRAWINGS_OTHER_CURRENT'].median(),inplace=True)
credit_card_balance_sample['CNT_DRAWINGS_POS_CURRENT'].fillna(credit_card_balance_sample['CNT_DRAWINGS_POS_CURRENT'].median(),inplace=True)
credit_card_balance_sample['CNT_INSTALMENT_MATURE_CUM'].fillna(credit_card_balance_sample['CNT_INSTALMENT_MATURE_CUM'].median(),inplace=True)
credit_card_balance_sample['AMT_DRAWINGS_OTHER_CURRENT'].fillna(credit_card_balance_sample['AMT_DRAWINGS_OTHER_CURRENT'].median(),inplace=True)

In [94]:
credit_card_balance_sample.rename(columns={"MONTHS_BALANCE": "CREDIT_MONTHS_BALANCE",
                                           "NAME_CONTRACT_STATUS":"CREDIT_NAME_CONTRACT_STATUS",
                                           "SK_DPD":"CREDIT_SK_DPD",
                                           "SK_DPD_DEF":"CURRENT_SK_DPD_DEF",
                                           },inplace=True)

#### Feature engineering / extraction

In [95]:
credit_card_balance_sample.head()

,index,SK_ID_PREV,SK_ID_CURR,CREDIT_MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,CREDIT_NAME_CONTRACT_STATUS,CREDIT_SK_DPD,CURRENT_SK_DPD_DEF
0,57,2652291,217747,-1,199062.900,202500,0.0,0.000,0.0,0.000,...,199062.90,199062.90,0.0,0,0.0,0.0,7.0,Active,0,0
1,69,1079749,140209,-3,0.000,112500,0.0,0.000,0.0,0.000,...,0.00,0.00,0.0,0,0.0,0.0,35.0,Completed,0,0
2,150,1130058,416736,-3,0.000,90000,0.0,0.000,0.0,0.000,...,0.00,0.00,0.0,0,0.0,0.0,0.0,Active,0,0
3,211,2536051,190803,-3,0.000,45000,0.0,0.000,0.0,0.000,...,0.00,0.00,0.0,0,0.0,0.0,25.0,Active,0,0
4,241,1950682,400093,-1,166443.255,450000,0.0,3885.615,0.0,3885.615,...,165209.85,165209.85,0.0,1,0.0,1.0,24.0,Active,0,0

In [96]:
# Difference between credit card limit and the balance 
credit_card_balance_sample['BALANCE_LIMIT_DIFF'] = credit_card_balance_sample['AMT_BALANCE'] - credit_card_balance_sample['AMT_CREDIT_LIMIT_ACTUAL']

In [97]:
credit_card_balance_sample[['BALANCE_LIMIT_DIFF']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106150 entries, 0 to 106149
Data columns (total 1 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   BALANCE_LIMIT_DIFF  106150 non-null  float64
dtypes: float64(1)
memory usage: 829.4 KB

In [98]:
credit_card_balance_sample[['AMT_PAYMENT_TOTAL_CURRENT']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106150 entries, 0 to 106149
Data columns (total 1 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   AMT_PAYMENT_TOTAL_CURRENT  106150 non-null  float64
dtypes: float64(1)
memory usage: 829.4 KB

In [99]:
credit_card_balance_sample[['AMT_TOTAL_RECEIVABLE']].describe()

       AMT_TOTAL_RECEIVABLE
count         106150.000000
mean           59229.026258
std           107002.515705
min           -45625.365000
25%                0.000000
50%                0.000000
75%            90953.223750
max           945380.790000

In [100]:
# Difference between client's total credit monthly payments and the total monthly receivable 
credit_card_balance_sample['CREDIT_RECEIVABLE_DIFF'] = credit_card_balance_sample['AMT_TOTAL_RECEIVABLE'] - credit_card_balance_sample['AMT_PAYMENT_TOTAL_CURRENT']

In [101]:
credit_card_balance_sample[['AMT_PAYMENT_TOTAL_CURRENT']].describe()

       AMT_PAYMENT_TOTAL_CURRENT
count               1.061500e+05
mean                7.605427e+03
std                 3.083806e+04
min                 0.000000e+00
25%                 0.000000e+00
50%                 0.000000e+00
75%                 7.425000e+03
max                 1.350000e+06

In [102]:
credit_card_balance_sample[['CREDIT_RECEIVABLE_DIFF']].describe()

       CREDIT_RECEIVABLE_DIFF
count            1.061500e+05
mean             5.162360e+04
std              1.067069e+05
min             -1.350000e+06
25%              0.000000e+00
50%              0.000000e+00
75%              8.281846e+04
max              9.294633e+05

In [103]:
# Total drawings
credit_card_balance_sample['TOTAL_DRAWINGS'] = credit_card_balance_sample['AMT_DRAWINGS_ATM_CURRENT'] + credit_card_balance_sample['AMT_DRAWINGS_CURRENT'] + credit_card_balance_sample['AMT_DRAWINGS_OTHER_CURRENT'] + credit_card_balance_sample['AMT_DRAWINGS_POS_CURRENT']

In [104]:
credit_card_balance_sample['TOTAL_DRAWINGS'].describe()

count    1.061500e+05
mean     1.483963e+04
std      6.607995e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.700000e+06
Name: TOTAL_DRAWINGS, dtype: float64

In [105]:
credit_card_balance_sample.head()

,index,SK_ID_PREV,SK_ID_CURR,CREDIT_MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,...,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,CREDIT_NAME_CONTRACT_STATUS,CREDIT_SK_DPD,CURRENT_SK_DPD_DEF,BALANCE_LIMIT_DIFF,CREDIT_RECEIVABLE_DIFF,TOTAL_DRAWINGS
0,57,2652291,217747,-1,199062.900,202500,0.0,0.000,0.0,0.000,...,0,0.0,0.0,7.0,Active,0,0,-3437.100,188037.90,0.00
1,69,1079749,140209,-3,0.000,112500,0.0,0.000,0.0,0.000,...,0,0.0,0.0,35.0,Completed,0,0,-112500.000,0.00,0.00
2,150,1130058,416736,-3,0.000,90000,0.0,0.000,0.0,0.000,...,0,0.0,0.0,0.0,Active,0,0,-90000.000,0.00,0.00
3,211,2536051,190803,-3,0.000,45000,0.0,0.000,0.0,0.000,...,0,0.0,0.0,25.0,Active,0,0,-45000.000,0.00,0.00
4,241,1950682,400093,-1,166443.255,450000,0.0,3885.615,0.0,3885.615,...,1,0.0,1.0,24.0,Active,0,0,-283556.745,156209.85,7771.23

### POS cash balance table

Monthly balance snapshots of previous POS (point of sales) and cash loans that the applicant had with Home Credit.
This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credits * # of months in which we have some history observable for the previous credits) rows

In [106]:
POS_CASH_balance = pd.read_csv("POS_CASH_balance.csv")
POS_CASH_balance.sample()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
1209947,1938348,103053,-26,24.0,13.0,Active,0,0

In [107]:
POS_CASH_balance_sample = POS_CASH_balance[ POS_CASH_balance['SK_ID_CURR'].isin(loan_ids)]
POS_CASH_balance_sample.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
10,2328294,287361,-32,12.0,12.0,Active,0,0
27,1865970,202091,-35,12.0,7.0,Active,0,0
69,1257810,322245,-39,24.0,8.0,Active,0,0
110,2229938,420690,-35,24.0,8.0,Active,0,0
124,2714240,302709,-38,16.0,0.0,Completed,0,0

In [108]:
POS_CASH_balance_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269947 entries, 10 to 10001354
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   SK_ID_PREV             269947 non-null  int64
 1   SK_ID_CURR             269947 non-null  int64
 2   MONTHS_BALANCE         269947 non-null  int64
 3   CNT_INSTALMENT         269226 non-null  float64
 4   CNT_INSTALMENT_FUTURE  269220 non-null  float64
 5   NAME_CONTRACT_STATUS   269947 non-null  object
 6   SK_DPD                 269947 non-null  int64
 7   SK_DPD_DEF             269947 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 18.5+ MB

In [109]:
POS_CASH_balance_sample.reset_index(inplace=True)

In [110]:
POS_CASH_balance_sample.to_csv("credit_samples/POS_CASH_balance.csv", index=False)

In [111]:
POS_CASH_balance_sample.columns[POS_CASH_balance_sample.isnull().any()]

Index(['CNT_INSTALMENT', 'CNT_INSTALMENT_FUTURE'], dtype='object')

In [112]:
POS_CASH_balance_sample['CNT_INSTALMENT'].fillna(POS_CASH_balance_sample['CNT_INSTALMENT'].median(),inplace=True)
POS_CASH_balance_sample['CNT_INSTALMENT_FUTURE'].fillna(POS_CASH_balance_sample['CNT_INSTALMENT_FUTURE'].median(),inplace=True)

#### Feature engineering / extraction

In [113]:
POS_CASH_balance_sample.head()

,index,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,10,2328294,287361,-32,12.0,12.0,Active,0,0
1,27,1865970,202091,-35,12.0,7.0,Active,0,0
2,69,1257810,322245,-39,24.0,8.0,Active,0,0
3,110,2229938,420690,-35,24.0,8.0,Active,0,0
4,124,2714240,302709,-38,16.0,0.0,Completed,0,0

### Installments payments table

Repayment history for the previously disbursed credits in Home Credit related to the loans in our sample.
There is a) one row for every payment that was made plus b) one row each for missed payment.
One row is equivalent to one payment of one installment OR one installment corresponding to one payment of one previous Home Credit credit related to loans in our sample.

In [114]:
installments_payments = pd.read_csv("installments_payments.csv")
installments_payments.sample()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
1920589,1974969,197307,1.0,2,-718.0,-734.0,6021.0,6021.0

In [115]:
installments_payments_sample = installments_payments[ installments_payments['SK_ID_CURR'].isin(loan_ids)]
installments_payments_sample.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
14,1594684,100193,0.0,56,-1153.0,-1153.0,301.860,301.86
110,1100291,138431,0.0,140,-216.0,-242.0,2250.000,2250.00
181,2428866,180879,7.0,5,-41.0,-46.0,28456.335,36000.00
182,2428866,180879,8.0,5,-41.0,-46.0,7543.665,36000.00
229,2414346,134516,1.0,16,-864.0,-860.0,47484.000,46836.00

In [116]:
app = selected_application_sample[['SK_ID_CURR','TARGET']]
aplication_installemnts = app.merge(installments_payments_sample, on='SK_ID_CURR')

In [117]:
aplication_installemnts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370905 entries, 0 to 370904
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   SK_ID_CURR              370905 non-null  int64
 1   TARGET                  370905 non-null  int64
 2   SK_ID_PREV              370905 non-null  int64
 3   NUM_INSTALMENT_VERSION  370905 non-null  float64
 4   NUM_INSTALMENT_NUMBER   370905 non-null  int64
 5   DAYS_INSTALMENT         370905 non-null  float64
 6   DAYS_ENTRY_PAYMENT      370802 non-null  float64
 7   AMT_INSTALMENT          370905 non-null  float64
 8   AMT_PAYMENT             370802 non-null  float64
dtypes: float64(5), int64(4)
memory usage: 28.3 MB

In [118]:
aplication_installemnts.head(1)

,SK_ID_CURR,TARGET,SK_ID_PREV,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,149741,1,2345317,1.0,2,-1946.0,-1958.0,13477.365,13477.365

In [119]:
aplication_installemnts.corr()['TARGET'].sort_values(ascending=False).head(10)

TARGET                    1.000000
DAYS_ENTRY_PAYMENT        0.034568
DAYS_INSTALMENT           0.034552
AMT_INSTALMENT            0.004226
SK_ID_CURR                0.003674
AMT_PAYMENT               0.001304
SK_ID_PREV               -0.009001
NUM_INSTALMENT_VERSION   -0.011197
NUM_INSTALMENT_NUMBER    -0.014652
Name: TARGET, dtype: float64

In [120]:
installments_payments_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370905 entries, 14 to 13605233
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   SK_ID_PREV              370905 non-null  int64
 1   SK_ID_CURR              370905 non-null  int64
 2   NUM_INSTALMENT_VERSION  370905 non-null  float64
 3   NUM_INSTALMENT_NUMBER   370905 non-null  int64
 4   DAYS_INSTALMENT         370905 non-null  float64
 5   DAYS_ENTRY_PAYMENT      370802 non-null  float64
 6   AMT_INSTALMENT          370905 non-null  float64
 7   AMT_PAYMENT             370802 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 25.5 MB

In [121]:
installments_payments_sample.reset_index(inplace=True)

In [122]:
installments_payments_sample.to_csv("credit_samples/installments_payments.csv", index=False)

In [123]:
installments_payments_sample.columns[installments_payments_sample.isnull().any()]

Index(['DAYS_ENTRY_PAYMENT', 'AMT_PAYMENT'], dtype='object')

In [124]:
installments_payments_sample['DAYS_ENTRY_PAYMENT'].fillna(installments_payments_sample['DAYS_ENTRY_PAYMENT'].median(),inplace=True)
installments_payments_sample['AMT_PAYMENT'].fillna(installments_payments_sample['AMT_PAYMENT'].median(),inplace=True)

#### Feature engineering / extraction

### Previous application table

All previous applications for Home Credit loans of clients who have loans in our sample.
There is one row for each previous application related to loans in our data sample.

In [125]:
previous_application = pd.read_csv("previous_application.csv")
previous_application.sample()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
843620,1149709,419665,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,16,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
previous_application_sample = previous_application[ previous_application['SK_ID_CURR'].isin(loan_ids)]
previous_application_sample.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
55,2741581,383645,Cash loans,47407.500,450000.0,450000.0,NaN,450000.0,MONDAY,13,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-527.0,-197.0,-197.0,-194.0,0.0
91,1524716,273901,Revolving loans,NaN,0.0,0.0,NaN,NaN,MONDAY,14,...,XNA,NaN,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN
102,2603082,223550,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,17,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
126,1343409,160671,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
183,2526335,240822,Consumer loans,6767.325,91755.0,33718.5,59625.0,91755.0,SATURDAY,10,...,Consumer electronics,6.0,low_normal,POS household with interest,365243.0,-2730.0,-2580.0,-2580.0,-2557.0,1.0

In [127]:
previous_application_sample.reset_index(inplace=True)

In [128]:
previous_application_sample.to_csv("credit_samples/previous_application.csv", index=False)

In [129]:
previous_application_sample.shape

(45187, 38)

In [130]:
previous_application_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45187 entries, 0 to 45186
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   index                        45187 non-null  int64
 1   SK_ID_PREV                   45187 non-null  int64
 2   SK_ID_CURR                   45187 non-null  int64
 3   NAME_CONTRACT_TYPE           45187 non-null  object
 4   AMT_ANNUITY                  35443 non-null  float64
 5   AMT_APPLICATION              45187 non-null  float64
 6   AMT_CREDIT                   45187 non-null  float64
 7   AMT_DOWN_PAYMENT             21230 non-null  float64
 8   AMT_GOODS_PRICE              35047 non-null  float64
 9   WEEKDAY_APPR_PROCESS_START   45187 non-null  object
 10  HOUR_APPR_PROCESS_START      45187 non-null  int64
 11  FLAG_LAST_APPL_PER_CONTRACT  45187 non-null  object
 12  NFLAG_LAST_APPL_IN_DAY       45187 non-null  int64
 13  RATE_DOWN_PAYMENT            21230 non-null  float64
 14  RATE_INTEREST_PRIMARY        164 non-null    float64
 15  RATE_INTEREST_PRIVILEGED     164 non-null    float64
 16  NAME_CASH_LOAN_PURPOSE       45187 non-null  object
 17  NAME_CONTRACT_STATUS         45187 non-null  object
 18  DAYS_DECISION                45187 non-null  int64
 19  NAME_PAYMENT_TYPE            45187 non-null  object
 20  CODE_REJECT_REASON           45187 non-null  object
 21  NAME_TYPE_SUITE              23073 non-null  object
 22  NAME_CLIENT_TYPE             45187 non-null  object
 23  NAME_GOODS_CATEGORY          45187 non-null  object
 24  NAME_PORTFOLIO               45187 non-null  object
 25  NAME_PRODUCT_TYPE            45187 non-null  object
 26  CHANNEL_TYPE                 45187 non-null  object
 27  SELLERPLACE_AREA             45187 non-null  int64
 28  NAME_SELLER_INDUSTRY         45187 non-null  object
 29  CNT_PAYMENT                  35444 non-null  float64
 30  NAME_YIELD_GROUP             45187 non-null  object
 31  PRODUCT_COMBINATION          45178 non-null  object
 32  DAYS_FIRST_DRAWING           27115 non-null  float64
 33  DAYS_FIRST_DUE               27115 non-null  float64
 34  DAYS_LAST_DUE_1ST_VERSION    27115 non-null  float64
 35  DAYS_LAST_DUE                27115 non-null  float64
 36  DAYS_TERMINATION             27115 non-null  float64
 37  NFLAG_INSURED_ON_APPROVAL    27115 non-null  float64
dtypes: float64(15), int64(7), object(16)
memory usage: 13.1+ MB

In [131]:
columns = ['AMT_DOWN_PAYMENT','RATE_DOWN_PAYMENT','RATE_INTEREST_PRIMARY','RATE_INTEREST_PRIVILEGED','DAYS_FIRST_DRAWING','DAYS_FIRST_DUE',
           'DAYS_LAST_DUE_1ST_VERSION','DAYS_LAST_DUE','DAYS_TERMINATION','NFLAG_INSURED_ON_APPROVAL']
selected_previous_application_sample = previous_application_sample.drop(columns=columns, axis=1)
selected_previous_application_sample.head()

,index,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION
0,55,2741581,383645,Cash loans,47407.500,450000.0,450000.0,450000.0,MONDAY,13,...,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle
1,91,1524716,273901,Revolving loans,NaN,0.0,0.0,NaN,MONDAY,14,...,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Card Street
2,102,2603082,223550,Cash loans,NaN,0.0,0.0,NaN,SATURDAY,17,...,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash
3,126,1343409,160671,Cash loans,NaN,0.0,0.0,NaN,TUESDAY,11,...,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash
4,183,2526335,240822,Consumer loans,6767.325,91755.0,33718.5,91755.0,SATURDAY,10,...,Repeater,Consumer Electronics,POS,XNA,Stone,520,Consumer electronics,6.0,low_normal,POS household with interest

In [132]:
selected_previous_application_sample.columns[selected_previous_application_sample.isnull().any()]

Index(['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'CNT_PAYMENT',
       'PRODUCT_COMBINATION'],
      dtype='object')

In [133]:
selected_previous_application_sample['AMT_ANNUITY'].fillna(selected_previous_application_sample['AMT_ANNUITY'].median(),inplace=True)
selected_previous_application_sample['CNT_PAYMENT'].fillna(selected_previous_application_sample['CNT_PAYMENT'].median(),inplace=True)
selected_previous_application_sample['AMT_GOODS_PRICE'].fillna(selected_previous_application_sample['AMT_GOODS_PRICE'].median(),inplace=True)

In [134]:
selected_previous_application_sample['NAME_TYPE_SUITE'].value_counts()

Unaccompanied      13770
Family              5706
Spouse, partner     1920
Children             858
Other_B              510
Other_A              236
Group of people       73
Name: NAME_TYPE_SUITE, dtype: int64

In [135]:
selected_previous_application_sample['NAME_TYPE_SUITE'].fillna('Unaccompanied',inplace=True)

In [136]:
selected_previous_application_sample['PRODUCT_COMBINATION'].value_counts()

Cash                              7425
POS household with interest       7282
POS mobile with interest          6028
Cash X-Sell: middle               3797
Cash X-Sell: low                  3534
Card Street                       3127
POS industry with interest        2619
POS household without interest    2330
Card X-Sell                       2151
Cash Street: high                 1662
Cash X-Sell: high                 1629
Cash Street: middle                945
Cash Street: low                   920
POS other with interest            671
POS mobile without interest        615
POS industry without interest      364
POS others without interest         79
Name: PRODUCT_COMBINATION, dtype: int64

In [137]:
selected_previous_application_sample['PRODUCT_COMBINATION'].fillna('Cash',inplace=True)

#### Feature engineering / extraction

In [138]:
selected_previous_application_sample.head()

,index,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION
0,55,2741581,383645,Cash loans,47407.500,450000.0,450000.0,450000.0,MONDAY,13,...,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle
1,91,1524716,273901,Revolving loans,11198.565,0.0,0.0,109642.5,MONDAY,14,...,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,12.0,XNA,Card Street
2,102,2603082,223550,Cash loans,11198.565,0.0,0.0,109642.5,SATURDAY,17,...,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,12.0,XNA,Cash
3,126,1343409,160671,Cash loans,11198.565,0.0,0.0,109642.5,TUESDAY,11,...,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,12.0,XNA,Cash
4,183,2526335,240822,Consumer loans,6767.325,91755.0,33718.5,91755.0,SATURDAY,10,...,Repeater,Consumer Electronics,POS,XNA,Stone,520,Consumer electronics,6.0,low_normal,POS household with interest

In [139]:
# Difference between the amount the client applied for and the awarded amount 
selected_previous_application_sample['APPLIED_AWARDED_AMOUNT_DIFF'] = selected_previous_application_sample["AMT_CREDIT"] - selected_previous_application_sample["AMT_APPLICATION"]

In [140]:
selected_previous_application_sample['APPLIED_AWARDED_AMOUNT_DIFF'].describe()

count    4.518700e+04
mean     2.110667e+04
std      7.143277e+04
min     -1.233000e+06
25%      0.000000e+00
50%      0.000000e+00
75%      1.296000e+04
max      9.000000e+05
Name: APPLIED_AWARDED_AMOUNT_DIFF, dtype: float64

In [141]:
# Difference between the price of goods and the loan amount the client applied for
selected_previous_application_sample['GOODS_PRICE_APPLIED_DIFF'] = selected_previous_application_sample["AMT_GOODS_PRICE"] - selected_previous_application_sample["AMT_APPLICATION"]

In [142]:
selected_previous_application_sample['GOODS_PRICE_APPLIED_DIFF'].describe()

count     45187.000000
mean      24650.672760
std       46027.894882
min     -247500.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      540000.000000
Name: GOODS_PRICE_APPLIED_DIFF, dtype: float64

### Project Formulation

Objective: Predict whether an applicant will be able to repay a loan.

Target: 1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases

Features: Application features, previous application features, bureau features, installment features, credit balance features, and POS cash balance features.

### Join tables 
installments_payments_sample

POS_CASH_balance_sample

selected_previous_application_sample

credit_card_balance_sample

selected_application_sample

previous_balance

In [143]:
installments_payments_sample.sample()

,index,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
166981,6079133,1782140,253010,0.0,51,-2097.0,-2112.0,4500.0,4500.0

In [144]:
selected_previous_application_sample.sample()

,index,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,APPLIED_AWARDED_AMOUNT_DIFF,GOODS_PRICE_APPLIED_DIFF
41656,1540064,2504057,390892,Consumer loans,6779.475,68035.5,23796.0,68035.5,WEDNESDAY,10,...,POS,XNA,Country-wide,10,Consumer electronics,4.0,low_normal,POS household with interest,-44239.5,0.0

In [145]:
POS_CASH_balance_sample.sample()

,index,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
189671,7041501,1362498,236210,-77,12.0,8.0,Active,0,0

In [146]:
credit_card_balance_sample.sample()

,index,SK_ID_PREV,SK_ID_CURR,CREDIT_MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,...,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,CREDIT_NAME_CONTRACT_STATUS,CREDIT_SK_DPD,CURRENT_SK_DPD_DEF,BALANCE_LIMIT_DIFF,CREDIT_RECEIVABLE_DIFF,TOTAL_DRAWINGS
102911,3727060,1334523,194796,-35,0.0,180000,0.0,0.0,0.0,0.0,...,0,0.0,0.0,52.0,Active,0,0,-180000.0,0.0,0.0

In [147]:
previous_balance.tail(1)

,index,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,...,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,MONTHS_BALANCE,STATUS,CREDIT_LIMIT_ABOVE_ZERO,HAS_DEBT,HAS_OVERDUE_DEBT
477066,1716291,245498,5053747,Closed,currency 1,-2582,0,-2214.0,-2018.0,0.0,...,0.0,0.0,0.0,Consumer credit,-2017,-84,0,0,0,0

In [148]:
# credit_card_balance_sample.merge(previous_balance,on="SK_ID_CURR")

In [149]:
len(POS_CASH_balance_sample) # 269,947

269947

In [150]:
len(installments_payments_sample) # 370,905

370905

In [151]:
len(selected_application_sample) # 10,000

10000

In [152]:
previous_balance.sample()

,index,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,...,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,MONTHS_BALANCE,STATUS,CREDIT_LIMIT_ABOVE_ZERO,HAS_DEBT,HAS_OVERDUE_DEBT
184295,650994,427208,6783528,Active,currency 1,-2731,0,-2548.0,-1148.0,4848.975,...,0.0,0.0,0.0,Consumer credit,-98,-15,C,0,0,0

In [153]:
dff = installments_payments_sample.merge(selected_previous_application_sample, on=['SK_ID_PREV', 'SK_ID_CURR']).\
                             merge(selected_application_sample,on=['SK_ID_CURR'])

In [154]:
dff.head()

,index_x,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,index_y,...,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,CREDIT_INCOME_RATIO,ANNUITY_INCOME_RATIO,CREDIT_TERM,DAYS_EMPLOYED_RATIO,GOODS_PRICE_LOAN_DIFFERENCE
0,14,1594684,100193,0.0,56,-1153.0,-1153.0,301.86,301.86,1180928,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0
1,34978,1594684,100193,0.0,74,-606.0,-606.0,301.86,301.86,1180928,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0
2,42363,1594684,100193,0.0,13,-2463.0,-2463.0,301.86,301.86,1180928,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0
3,124467,1594684,100193,0.0,73,-637.0,-637.0,301.86,301.86,1180928,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0
4,125182,1594684,100193,0.0,72,-667.0,-667.0,301.86,301.86,1180928,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0

In [155]:
dff.duplicated().sum()

0

In [156]:
installments_payments_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370905 entries, 0 to 370904
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   370905 non-null  int64
 1   SK_ID_PREV              370905 non-null  int64
 2   SK_ID_CURR              370905 non-null  int64
 3   NUM_INSTALMENT_VERSION  370905 non-null  float64
 4   NUM_INSTALMENT_NUMBER   370905 non-null  int64
 5   DAYS_INSTALMENT         370905 non-null  float64
 6   DAYS_ENTRY_PAYMENT      370905 non-null  float64
 7   AMT_INSTALMENT          370905 non-null  float64
 8   AMT_PAYMENT             370905 non-null  float64
dtypes: float64(5), int64(4)
memory usage: 25.5 MB

In [157]:
POS_CASH_balance_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269947 entries, 0 to 269946
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   index                  269947 non-null  int64
 1   SK_ID_PREV             269947 non-null  int64
 2   SK_ID_CURR             269947 non-null  int64
 3   MONTHS_BALANCE         269947 non-null  int64
 4   CNT_INSTALMENT         269947 non-null  float64
 5   CNT_INSTALMENT_FUTURE  269947 non-null  float64
 6   NAME_CONTRACT_STATUS   269947 non-null  object
 7   SK_DPD                 269947 non-null  int64
 8   SK_DPD_DEF             269947 non-null  int64
dtypes: float64(2), int64(6), object(1)
memory usage: 18.5+ MB

In [158]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336275 entries, 0 to 336274
Columns: 106 entries, index_x to GOODS_PRICE_LOAN_DIFFERENCE
dtypes: float64(29), int64(50), object(27)
memory usage: 274.5+ MB

In [159]:
len(selected_application_sample)

10000

In [160]:
dff.dropna(inplace=True)

In [161]:
dff.tail()

,index_x,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,index_y,...,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,CREDIT_INCOME_RATIO,ANNUITY_INCOME_RATIO,CREDIT_TERM,DAYS_EMPLOYED_RATIO,GOODS_PRICE_LOAN_DIFFERENCE
336270,12987810,1950056,439228,1.0,4,-586.0,-588.0,20825.595,20825.595,761694,...,0,0,0,0,0,2.291667,0.164167,0.071636,-15.962023,0.0
336271,13014756,1950056,439228,1.0,1,-676.0,-689.0,20826.810,20826.810,761694,...,0,0,0,0,0,2.291667,0.164167,0.071636,-15.962023,0.0
336272,13354549,1950056,439228,1.0,3,-616.0,-619.0,20826.810,20826.810,761694,...,0,0,0,0,0,2.291667,0.164167,0.071636,-15.962023,0.0
336273,13497484,1950056,439228,1.0,2,-646.0,-658.0,20826.810,20826.810,761694,...,0,0,0,0,0,2.291667,0.164167,0.071636,-15.962023,0.0
336274,13426930,1976654,445665,2.0,1,-10.0,-10.0,102164.805,102164.805,833347,...,0,0,0,0,0,2.915800,0.123540,0.042369,0.241298,-187110.0

In [162]:
categories = dff.select_dtypes(include=['object']).columns.tolist() 
# alternative 
# datatype = dff.dtypes
# categories = datatype[(datatype == 'object') | (datatype == 'category')].index.tolist()

### Model fitting

In [163]:
# pip install --upgrade scikit-learn -qqq

In [164]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import average_precision_score, roc_auc_score, precision_score, recall_score, f1_score
from sklearn.ensemble import HistGradientBoostingClassifier

In [165]:
X = dff.drop(["SK_ID_PREV", "SK_ID_CURR","TARGET"], axis=1)
y = dff["TARGET"]

In [166]:
random_state = 13
test_size = 0.3
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size,
                                                    random_state=random_state)

In [167]:
transformer = ColumnTransformer(transformers=[('cat', OneHotEncoder(handle_unknown='ignore', drop="first"), categories)],remainder='passthrough')

In [168]:
 # Model Parameters
learning_rate = 0.01
max_depth = 6
min_samples_leaf = 10
random_state = 42
early_stopping = True

In [169]:
# Model: Define a HistGradient Boosting Classifier
model = HistGradientBoostingClassifier(learning_rate=learning_rate,
                               max_depth=max_depth,
                               min_samples_leaf=min_samples_leaf,
                                early_stopping=early_stopping,
                               random_state=random_state)

# Pipeline fit
pipeline = Pipeline(steps=[('transformer', transformer), ('model', model)])

In [170]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('transformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('cat',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore'),
                                                  ['NAME_CONTRACT_TYPE_x',
                                                   'WEEKDAY_APPR_PROCESS_START_x',
                                                   'FLAG_LAST_APPL_PER_CONTRACT',
                                                   'NAME_CASH_LOAN_PURPOSE',
                                                   'NAME_CONTRACT_STATUS',
                                                   'NAME_PAYMENT_TYPE',
                                                   'CODE_REJECT_REASON',
                                                   'NAME_TYPE_SUITE_x',
                                                   'NAME_CLIE...
                                                   'NAME_CONTRACT_TYPE_y',
                                                   'CODE_GENDER',
                                                   'FLAG_OWN_CAR',
                                                   'FLAG_OWN_REALTY',
                                                   'NAME_TYPE_SUITE_y',
                                                   'NAME_INCOME_TYPE',
                                                   'NAME_EDUCATION_TYPE',
                                                   'NAME_FAMILY_STATUS',
                                                   'NAME_HOUSING_TYPE',
                                                   'WEEKDAY_APPR_PROCESS_START_y',
                                                   'ORGANIZATION_TYPE'])])),
                ('model',
                 HistGradientBoostingClassifier(early_stopping=True,
                                                learning_rate=0.01, max_depth=6,
                                                min_samples_leaf=10,
                                                random_state=42))])

In [171]:
# Predict probabilities of target
probs = pipeline.predict_proba(X_test)[:,1]
# Calculate average precision and area under the receiver operating characteric curve (ROC AUC)
avg_precision = average_precision_score(y_test, probs, pos_label=1)
auc = roc_auc_score(y_test, probs)

In [172]:
auc

0.8962242963272928

In [173]:
avg_precision

0.6483522350917789

### Clustering

In [174]:
# pip install kneed

In [175]:
# pip install seaborn

In [176]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from kneed import KneeLocator
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [177]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2, random_state=42)

In [178]:
transformer = ColumnTransformer(transformers=[('cat', OneHotEncoder(handle_unknown='ignore', drop="first"), categories)],remainder='passthrough')

In [179]:
dff.head()

,index_x,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,index_y,...,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,CREDIT_INCOME_RATIO,ANNUITY_INCOME_RATIO,CREDIT_TERM,DAYS_EMPLOYED_RATIO,GOODS_PRICE_LOAN_DIFFERENCE
0,14,1594684,100193,0.0,56,-1153.0,-1153.0,301.86,301.86,1180928,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0
1,34978,1594684,100193,0.0,74,-606.0,-606.0,301.86,301.86,1180928,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0
2,42363,1594684,100193,0.0,13,-2463.0,-2463.0,301.86,301.86,1180928,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0
3,124467,1594684,100193,0.0,73,-637.0,-637.0,301.86,301.86,1180928,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0
4,125182,1594684,100193,0.0,72,-667.0,-667.0,301.86,301.86,1180928,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0

In [180]:
X = dff.drop(['index_x','index_y','SK_ID_PREV','SK_ID_CURR'],axis=1)

In [181]:
X.head()

,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,NAME_CONTRACT_TYPE_x,AMT_ANNUITY_x,AMT_APPLICATION,AMT_CREDIT_x,...,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,CREDIT_INCOME_RATIO,ANNUITY_INCOME_RATIO,CREDIT_TERM,DAYS_EMPLOYED_RATIO,GOODS_PRICE_LOAN_DIFFERENCE
0,0.0,56,-1153.0,-1153.0,301.86,301.86,Revolving loans,4410.0,80995.5,63000.0,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0
1,0.0,74,-606.0,-606.0,301.86,301.86,Revolving loans,4410.0,80995.5,63000.0,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0
2,0.0,13,-2463.0,-2463.0,301.86,301.86,Revolving loans,4410.0,80995.5,63000.0,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0
3,0.0,73,-637.0,-637.0,301.86,301.86,Revolving loans,4410.0,80995.5,63000.0,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0
4,0.0,72,-667.0,-667.0,301.86,301.86,Revolving loans,4410.0,80995.5,63000.0,...,0,0,0,0,0,1.3168,0.06722,0.051048,0.052576,-71280.0

In [182]:
df = transformer.fit_transform(X)

In [183]:
df

array([[ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00, ...,
         5.10479951e-02,  5.25756474e-02, -7.12800000e+04],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00, ...,
         5.10479951e-02,  5.25756474e-02, -7.12800000e+04],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00, ...,
         5.10479951e-02,  5.25756474e-02, -7.12800000e+04],
       ...,
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         7.16363636e-02, -1.59620226e+01,  0.00000000e+00],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         7.16363636e-02, -1.59620226e+01,  0.00000000e+00],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         4.23691611e-02,  2.41298134e-01, -1.87110000e+05]])

In [184]:
 clustering_data = pca.fit_transform(df)

In [185]:
sc = StandardScaler() 
# Standardize features by removing the mean and scaling to unit variance
clustering_data = sc.fit_transform(clustering_data)

In [186]:
sse = []
for k in range(1, 13):
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(clustering_data)
    sse.append(kmeans.inertia_)

In [187]:
kl = KneeLocator(range(1, 13), sse, curve="convex", direction="decreasing" )

In [188]:
kl.elbow

3

In [189]:
kmeans = KMeans(n_clusters = 3)
kmeans.fit(clustering_data)
predictions = kmeans.predict(clustering_data)

In [190]:
dff['cluster'] = predictions
dff['cluster'].value_counts()

0    200316
1    110303
2     25656
Name: cluster, dtype: int64

In [191]:
dff.tail()

,index_x,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,index_y,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,CREDIT_INCOME_RATIO,ANNUITY_INCOME_RATIO,CREDIT_TERM,DAYS_EMPLOYED_RATIO,GOODS_PRICE_LOAN_DIFFERENCE,cluster
336270,12987810,1950056,439228,1.0,4,-586.0,-588.0,20825.595,20825.595,761694,...,0,0,0,0,2.291667,0.164167,0.071636,-15.962023,0.0,0
336271,13014756,1950056,439228,1.0,1,-676.0,-689.0,20826.810,20826.810,761694,...,0,0,0,0,2.291667,0.164167,0.071636,-15.962023,0.0,0
336272,13354549,1950056,439228,1.0,3,-616.0,-619.0,20826.810,20826.810,761694,...,0,0,0,0,2.291667,0.164167,0.071636,-15.962023,0.0,0
336273,13497484,1950056,439228,1.0,2,-646.0,-658.0,20826.810,20826.810,761694,...,0,0,0,0,2.291667,0.164167,0.071636,-15.962023,0.0,0
336274,13426930,1976654,445665,2.0,1,-10.0,-10.0,102164.805,102164.805,833347,...,0,0,0,0,2.915800,0.123540,0.042369,0.241298,-187110.0,1