In [144]:
import layer
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

## Fetch datasets

In [145]:
application = layer.get_dataset("application_train").to_pandas()

In [147]:
application.head()

,FLAG_DOCUMENT_14,REGION_POPULATION_RELATIVE,FONDKAPREMONT_MODE,LANDAREA_AVG,REGION_RATING_CLIENT_W_CITY,AMT_ANNUITY,FLAG_DOCUMENT_19,YEARS_BEGINEXPLUATATION_AVG,OWN_CAR_AGE,EXT_SOURCE_2,...,FLAG_OWN_REALTY,LIVINGAPARTMENTS_MEDI,ELEVATORS_AVG,NONLIVINGAREA_AVG,REG_REGION_NOT_WORK_REGION,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_HOUR,LANDAREA_MEDI,INDEX
0,0,0.009630,None,NaN,2,11533.5,0,NaN,NaN,0.412729,...,Y,NaN,NaN,NaN,1,0,0.0,0.0,NaN,220101
1,0,0.015221,None,0.0688,2,4504.5,0,0.9891,NaN,0.550291,...,N,NaN,0.16,NaN,0,0,0.0,0.0,0.070,298840
2,0,0.031329,reg oper account,0.0934,2,14017.5,0,0.9916,NaN,0.051280,...,N,0.1437,0.20,0.0161,0,0,0.0,0.0,0.095,296804
3,0,0.020246,None,NaN,3,19417.5,0,NaN,NaN,0.357197,...,N,NaN,NaN,NaN,0,0,0.0,0.0,NaN,47748
4,0,0.018209,None,NaN,3,46926.0,0,NaN,NaN,0.511803,...,N,NaN,NaN,NaN,0,0,0.0,0.0,NaN,131267

In [148]:
application.sample()

,FLAG_DOCUMENT_14,REGION_POPULATION_RELATIVE,FONDKAPREMONT_MODE,LANDAREA_AVG,REGION_RATING_CLIENT_W_CITY,AMT_ANNUITY,FLAG_DOCUMENT_19,YEARS_BEGINEXPLUATATION_AVG,OWN_CAR_AGE,EXT_SOURCE_2,...,FLAG_OWN_REALTY,LIVINGAPARTMENTS_MEDI,ELEVATORS_AVG,NONLIVINGAREA_AVG,REG_REGION_NOT_WORK_REGION,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_HOUR,LANDAREA_MEDI,INDEX
2707,0,0.018029,None,NaN,3,28408.5,0,0.9995,19.0,0.376325,...,N,NaN,0.04,0.0553,0,0,0.0,0.0,NaN,226289

In [149]:
installment_payments = layer.get_dataset("installments_payments").to_pandas()

In [150]:
installment_payments.sample()

,SK_ID_CURR,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,NUM_INSTALMENT_NUMBER,NUM_INSTALMENT_VERSION,DAYS_INSTALMENT,SK_ID_PREV,INDEX
243962,303611,-62.0,55493.28,55493.28,10,2.0,-61.0,1820070,7844978

In [151]:
previous_application = layer.get_dataset("previous_application").to_pandas()

In [152]:
previous_application.sample()

,AMT_ANNUITY,AMT_DOWN_PAYMENT,DAYS_FIRST_DRAWING,NAME_CASH_LOAN_PURPOSE,DAYS_TERMINATION,CHANNEL_TYPE,AMT_CREDIT,HOUR_APPR_PROCESS_START,DAYS_DECISION,NAME_TYPE_SUITE,...,DAYS_LAST_DUE_1ST_VERSION,SK_ID_PREV,NFLAG_LAST_APPL_IN_DAY,AMT_GOODS_PRICE,RATE_INTEREST_PRIVILEGED,SELLERPLACE_AREA,NAME_YIELD_GROUP,NAME_PORTFOLIO,FLAG_LAST_APPL_PER_CONTRACT,INDEX
17583,5037.12,13185.0,365243.0,XAP,-1121.0,Country-wide,39600.0,14,-1441,None,...,-1126.0,1258101,1,52785.0,NaN,30,high,POS,Y,220499

In [153]:
bureau = layer.get_dataset("bureau").to_pandas()

In [154]:
bureau.sample()

,AMT_ANNUITY,CREDIT_ACTIVE,SK_ID_BUREAU,DAYS_ENDDATE_FACT,SK_ID_CURR,CREDIT_DAY_OVERDUE,AMT_CREDIT_MAX_OVERDUE,AMT_CREDIT_SUM_LIMIT,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM_DEBT,DAYS_CREDIT_UPDATE,DAYS_CREDIT,CREDIT_TYPE,AMT_CREDIT_SUM,CREDIT_CURRENCY,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_ENDDATE,INDEX
39844,NaN,Active,5302876,NaN,178155,0,9034.965,148928.535,0,-428.535,-649,-1430,Credit card,99000.0,currency 1,0.0,-397.0,1198695

## Fetch features

In [155]:
previous_application_features = layer.get_featureset("previous_application_features").to_pandas()

In [156]:
previous_application_features.sample()

        INDEX  APPLIED_AWARDED_AMOUNT_DIFF  GOODS_PRICE_APPLIED_DIFF
3540  1370943                          0.0                       0.0

In [157]:
application_features = layer.get_featureset("application_features").to_pandas()

In [158]:
application_features.sample()

,INDEX,ANNUITY_INCOME_RATIO,CREDIT_INCOME_RATIO,CREDIT_TERM,DAYS_EMPLOYED_RATIO,GOODS_PRICE_LOAN_DIFFERENCE
9481,256740,0.2048,6.98,0.029341,0.118803,-356400.0

In [159]:
bureau_features = layer.get_featureset("bureau_features").to_pandas()

In [160]:
bureau_features.sample()

        INDEX  CREDIT_LIMIT_ABOVE_ZERO  HAS_DEBT  HAS_OVERDUE_DEBT
29819  833717                        0         1                 0

##  Fetch model

In [161]:
credit_model = layer.get_model("credit_score_model:79.4")

In [162]:
print(credit_model.parameters)
print(credit_model.metrics)

{'l2_regularization': '0.028679718370026797', 'max_depth': '5', 'test_size': '0.3', 'random_state': '42', 'learning_rate': '0.7232099468700303', 'max_iter': '500', 'min_samples_leaf': '50'}
{'avg_precision': [(1637776167935, 0.8552733368990358)], 'roc_auc_score': [(1637776167946, 0.9728203892885045)]}

In [163]:
trained_classifier = credit_model.get_train()

In [164]:
data = np.array([[1731690, -1916.0,-1953.0,6953.31,6953.31,1731690,0, 0  ,1731690 ,0.2976,7.47512,0.039812,1731690,0.189752,-161451.0,1731690,1731690,1731690,1731690,1,-16074.0, 1731690, 0.0, 1 ]])

In [165]:
categories = []
transformer = ColumnTransformer(
        transformers=[('cat', OneHotEncoder(handle_unknown='ignore', drop="first"), categories)],
        remainder='passthrough')

In [166]:
data = transformer.fit_transform(data)

In [167]:
trained_classifier.predict(data)

array([1])

In [168]:
trained_classifier.predict_proba(data)

array([[0., 1.]])

In [169]:
!curl --header "Content-Type: application/json; format=pandas-records" \
  --request POST \
  --data '[{"OWN_CAR_AGE":10, "APPLIED_AWARDED_AMOUNT_DIFF":20, "REGION_RATING_CLIENT_W_CITY":30, "CREDIT_INCOME_RATIO":0.25,"CREDIT_TERM":300, "DAYS_BIRTH":14600, "cluster":0, "DAYS_EMPLOYED_RATIO":10000, "AMT_INSTALMENT":20, "DAYS_ID_PUBLISH":3000, "GOODS_PRICE_LOAN_DIFFERENCE":52, "AMT_PAYMENT":3000, "HAS_DEBT":0, "REG_CITY_NOT_WORK_CITY":1, "AMT_CREDIT_SUM_OVERDUE":0, "FLAG_DOCUMENT_3":1, "DAYS_ENTRY_PAYMENT":45789, "DAYS_REGISTRATION":9000, "LIVE_CITY_NOT_WORK_CITY":0, "DAYS_INSTALMENT":122, "ANNUITY_INCOME_RATIO":0.247, "GOODS_PRICE_APPLIED_DIFF":-258, "REGION_RATING_CLIENT":1, "CREDIT_LIMIT_ABOVE_ZERO":0}]' \
https://7d674b54-c62f-4333-92eb-7f316445d77b.inferences.beta.layer.co/invocations

[0]